{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    ["react-css-modules", {
        "webpackHotModuleReloading": true,
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[local]_[hash:base64:5]_[hash]"
    }],
  ]
}
